@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');
/* Logos das páginas*/
img {
    display: block;
    border-style: solid;
    margin-right: auto;
    margin-left: auto;
}

img#logoCEV {
    width: 125px;

}

/*Texto*/
h1.texto {
    text-align: center;
    margin: 2px;
    font-style: italic;
}

a.link {
    font-style: oblique;
    text-decoration-line: blink;
    color: black;
    font-weight: bold;
}

a.link:hover {
    font-style: italic;
    color: dimgrey;
}

p {
    margin: 8px;
}

p.att {
    font-style: italic;
}

ul#cursos {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Gotu, sans-serif;
}

ul#cursos li {
    list-style: disc;
    font-size: 18px;
    font-style: italic;
}

/*Videos do youtube*/
iframe.videoInstitucional {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

/* Logo de aula EAD q ficou muito colado*/
img#logoAulaEAD{
    padding: 8px;
}